
# Ignore datasets and other large or sensitive folders
meld_data/
meld_dataset/
meld_dataset_preprocessed/
venv_hubert/
hubert-emotion-meld-final/
hubert_results/
wav2vec2/MELD/
wav2vec2/wav2vec2-emotion-meld/
wav2vec2/wav2vec2-emotion-meld-final/
wav2vec2/new.py
wav2vec2/new2.py
*.zip
*.csv
*.json
*.mp4
wav2vec2_reg_and_ui/model.safetensors
hubert_reg_and_ui/model.safetensors
# Ignore OS or IDE specific files
__pycache__/
*.pyc
.DS_Store
